@font-face {
	font-family: 'Raleway-Light';
	src: url("../fonts/Raleway-Light.woff") format("woff"),
		 url('../fonts/Raleway-Light.ttf') format("truetype");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway-Regular';
	src: url("../fonts/Raleway-Regular.woff") format("woff"),
		 url('../fonts/Raleway-Regular.ttf') format("truetype");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway-Medium';
	src: url("../fonts/Raleway-Medium.woff") format("woff"),
		 url('../fonts/Raleway-Medium.ttf') format("truetype");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway-Semibold';
	src: url("../fonts/Raleway-Semibold.woff") format("woff"),
		 url('../fonts/Raleway-Semibold.ttf') format("truetype");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway-Extrabold';
	src: url("../fonts/Raleway-Extrabold.woff") format("woff"),
		 url('../fonts/Raleway-Extrabold.ttf') format("truetype");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url("../fonts/Roboto-Regular.woff") format("woff"),
		 url('../fonts/Roboto-Regular.ttf') format("truetype");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url("../fonts/Roboto-Medium.woff") format("woff"),
		 url('../fonts/Roboto-Medium.ttf') format("truetype");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url("../fonts/Roboto-Light.woff") format("woff"),
		 url('../fonts/Roboto-Light.ttf') format("truetype");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url("../fonts/Roboto-Bold.woff") format("woff"),
		 url('../fonts/Roboto-Bold.ttf') format("truetype");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MyriadProSemibold';
	src: url('../fonts/SourceSans3-SemiBold.ttf') format("truetype");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MyriadProLight';
	src: url('../fonts/SourceSans3-Light.ttf') format("truetype");
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MyriadProRegular';
	src: url('../fonts/SourceSans3-Regular.ttf') format("truetype");
	font-style: normal;
	font-display: swap;
}
