.btn-wow-wrapper {
	margin: 0;
	position: relative;
	border-radius: 100px;
	overflow: hidden;
	
	&:before {
		content: "";
		background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
		height: 80px;
		width: 50px;
		position: absolute;
		top: -8px;
		left: -75px;
		transform: skewX(-45deg);
		transition: all .9s ease;
		animation-name: btn-wow;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		z-index: 2;
	}
	
	.btn {
		@include size(100%, 100%);
		padding: 18px 25px 22px;
	}
}

.btn {
	font-family: "MyriadProSemibold", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	border-radius: 100px;
	display: block;
	padding: 10px 20px;
	cursor: pointer;
	@include transition();
	outline: none;

	&:focus,
	&:hover,
	&:active {
		outline: none;
	}
	
	&-orange {
		background: $color-orange;
		color: $color-white;
		
		&:hover {
			background: $color-orange-hover;
		}
	}
}

.btn-gradient {
	height: $form-height-xl;
	border-radius: $form-height-xl;
	position: relative;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 35px;
	@include font(18px, 600, 1.4, $color-white, "MyriadProSemibold");
	background-image: linear-gradient(180deg, #E95729 0%, #E83828 50%, #E85B28 100%);
	background-size: 100% 200%;
	background-position: 0 0;
	@include transition;
	
	&::before {
		content: "";
		background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
		height: 80px;
		width: 50px;
		@include position(absolute, -75px, -8px);
		transform: skewX(-45deg);
		transition: all .9s ease;
		animation: blick 2s infinite;
	}
	
	&:hover {
		background-position: 0 100%;
	}
}

.btn-gray {
	height: $form-height-xl;
	border-radius: $form-height-xl;
	position: relative;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 35px;
	@include font(18px, 500, 1.4, $color, "MyriadProSemibold");
	background: #F2F5F8;
	@include transition;
	
	&::before {
		content: "";
		background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
		height: 80px;
		width: 50px;
		@include position(absolute, -75px, -8px);
		transform: skewX(-45deg);
		transition: all .9s ease;
		animation: blick 2s infinite;
	}
	
	&:hover {
		background:  #D7DBDE;
	}
}

@media (max-width: 992px) {
	.btn-gradient, .btn-gray {
		height: $form-height;
		border-radius: $form-height;
		font-size: 16px;
		padding: 0 25px;
	}
}