.cta {
	position: relative;
	padding: 0 80px;
	
	.container {
		position: relative;
		max-width: 1550px;
		padding: 0 20px;
		margin: 0 auto;
		z-index: 10;
	}
	
	&-content {
		position: relative;
		z-index: 20;
		padding: 120px 0;
		@include flex(center, flex-start, nowrap);
		flex-direction: column;
		gap: 30px;
		
	}
	
	&-description {
		color: $color-white;
		
		.title {
			@include font(36px, 600, 1.4, null, "MyriadProSemibold");
			text-align: center;
			max-width: 1140px;
		}
	}
	
	&-form {
		
		.group {
			@include flex(flex-start, center, nowrap);
			column-gap: 10px;
			
			.inputs {
				@include flex(flex-start, center, nowrap);
				column-gap: 10px;
				padding: 0;
				list-style-type: none;
				
				li {
					list-style: none;
				}
			}
			
			.action {
				.btn-gradient {
				min-width: 240px;
				}
			}
		}
		
		.form-terms {
			margin: 20px auto 0;
			width: fit-content;
			
			color: $color-white;
			@include flex(center, center);
			gap: 10px;
			text-align: center;
			
			.checker {
				background: $color-white;
				border-radius: 4px;
				@include size(18px, 18px);
				
				&-label {
					color: $color-white;
					
					a {
						color: $color-white;
					}
				}
			}
		}
		
		.form-error-note {
			display: none !important;
		}
	}
	
	&-bg {
		display: block;
		@include position(absolute, 0, 0, 0, 0);
		@include size(100%, 100%);
		overflow: hidden;
		
		img {
			display: block;
			@include size(100%, 100%);
			object-fit: cover;
		}
	}
}

//RESPONSIVE

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
	.cta {
		&-form {
			
			.group {
				align-items: center;
				flex-direction: column;
				row-gap: 15px;
				
				.inputs {
					align-items: center;
					flex-direction: column;
					row-gap: 15px;
				}
				
				.action {
					.btn-gradient {
						min-width: 360px;
						height: $form-height-xl;
					}
				}
			}
			
		}
	}
}

@media (max-width: 992px) {
	.cta {
		&-content {
			padding: 90px 0;
		}
		
		&-description {
			.title {
				max-width: 500px;
				font-size: 28px;
				br {
					display: none;
				}
			}
		}
		
		&-form {
			.form-terms {
				flex-wrap: nowrap;
				max-width: 350px;
			}
		}
	}
}

@media (max-width: 768px) {
	.cta {
		padding: 0 20px;
		&-content {
			padding: 40px 0;
		}
		
		&-description {
			.title {
				font-size: 24px;
			}
		}
		
		&-form {
			.group {
				
				.inputs {
					align-items: center;
					flex-direction: column;
					row-gap: 15px;
					
					.form-input {
						min-width: 300px;
						height: $form-height;
					}
				}
				
				.action {
					.btn-gradient {
						min-width: 300px;
						height: $form-height;
					}
				}
			}
			
			.form-terms {
				flex-wrap: nowrap;
				max-width: 300px;
				text-align: left;
			}
		}
	}
}