.footer {
	background: #2b2b2b;
	
	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
	
	.container {
		position: relative;
		max-width: 1550px;
		padding: 0 20px;
		margin: 0 auto;
		z-index: 10;
	}
	
	&-top {
		position: relative;
		z-index: 100;
		background: #373737;
		padding: 30px 0;
		
		&-inner {
			@include flex(center, space-between, nowrap);
			gap: 40px;
			
			.logo {
				img {
					height: 70px;
				}
			}
		}
		
		&-contacts {
			
			@include flex(center, flex-end, nowrap);
			column-gap: 40px;
			
			.email {
				a {
					list-style: none;
					@include font(26px, 400, 1.4, $color-white, "MyriadProRegular");
					padding: 5px 0;
					color: $color-white;
					text-decoration: none;
					@include transition;
					
					&:hover {
						color: $color-orange;
					}
				}
			}
			
			.phones {
				display: flex;
				align-items: center;
				column-gap: 20px;
				
				.socials {
					@include flex(center, flex-start, nowrap);
					gap: 10px;
				}
			}
			
			.phone-top {
				position: relative;
				display: flex;
				align-items: center;
				gap: 10px;
			}
			
			.phone-top-all {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				margin-bottom: 10px;
				white-space: nowrap;
				
				&:last-child {
					margin-bottom: 0;
				}
				
				img {
					display: block;
					min-width: 26px;
					width: 26px;
					height: 26px;
				}
			}
			
			.phone-top a,
			.phone-top-all a {
				font-family: "MyriadProSemibold", Arial, sans-serif;
				font-size: 26px;
				color: var(--text-dark);
			}
			
			.all-open {
				position: relative;
				padding-right: 20px;
				display: flex;
				font-size: 26px;
				align-items: center;
				color: $color-white;
				@include transition();
				
				&:before {
					content: '';
					@include position(absolute, null, 12px, 5px, null);
					@include size(8px, 10px);
					background: url('../img/icons/arrow-down-light.svg') no-repeat 50% 50% /contain;
				}
				
				&:hover {
					opacity: 0.9;
				}
			}
			
			.all-contacts {
				display: none;
				@include position(absolute, 0, calc(100% + 10px), 0);
				z-index: 1000;
				background: $color-white;
				padding: 15px;
				border-radius: 10px;
				
				.link {
					text-decoration: none;
					padding: 5px 0;
					@include flex(center, flex-start);
					gap: 10px;
					
					img {
						@include size(26px, 26px);
						display: block;
						object-fit: contain;
					}
					
					&:hover {
						opacity: 0.7;
					}
				}
			}
			
			.callback {
				width: 280px;
				.btn-gradient {
					width: 100%;
					padding: 0;
				}
			}
		}
	}
	
	&-center {
		padding: 50px 0;
		
		&-inner {
			@include flex(flex-start, flex-start, nowrap);
			column-gap: 60px;
		}
		
		&-info {
			flex-shrink: 0;
			
			.schedule {
				margin-bottom: 30px;
				
				.title {
					@include font(22px, 600, 1, $color-white, "MyriadProRegular");
					margin-bottom: 20px;
				}
				
				.text {
					@include font(16px, 400, 2, $color-white, "MyriadProRegular");
				}
				
				.nav {
					@include flex(flex-start, center);
					flex-direction: column;
					row-gap: 10px;
					
					.link {
						@include font(16px, 400, 1.4, $color-white, "MyriadProRegular");
						padding: 5px 0;
						color: $color-white;
						text-decoration: none;
						@include transition;
						
						&:hover {
							color: $color-orange;
						}
					}
				}
			}
			
			.socials-bottom {
				@include flex(center, flex-start);
				gap: 10px;
				margin-bottom: 30px;
			}
		}
		
		&-catalog {
			flex-grow: 1;
			
			.title {
				@include font(22px, 600, 1, $color-white, "MyriadProRegular");
				margin-bottom: 20px;
			}
			
			&-list {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				margin: 0;
				padding: 0;
				list-style: none;
				align-items: center;
				column-gap: 30px;
				
				.link {
					@include font(16px, 400, 1.4, $color-white, "MyriadProRegular");
					padding: 5px 0;
					color: $color-white;
					text-decoration: none;
					@include transition;
					
					&:hover {
						color: $color-orange;
					}
				}
			}
		}
	}
	
	&-bottom {
		
		&-info {
			@include flex(flex-end, space-between, nowrap);
			column-gap: 50px;
			
			.law {
				flex-grow: 1;
				@include font(14px, 400, 1.6, #9F9F9F, "MyriadProRegular");
				max-width: 800px;
			}
			
			.payment {
				flex-shrink: 0;
				.list {
					@include flex(center, space-between, nowrap);
					gap: 10px;
					
					img {
						@include size(auto, 30px);
						display: block;
						object-fit: cover;
					}
				}
			}
		}
		
		&-inner	{
			margin-top: 60px;
			padding: 30px 0;
			color: $color-white;
			background: #373737;
			@include font(20px, 400, 1, $color-white, "MyriadProRegular");
			
			.container {
				@include flex(center, space-between);
				column-gap: 30px;
			}
			
			.list {
				@include flex(center, flex-end);
				column-gap: 50px;
				a {
					text-decoration: none;
					color: $color-white;
					@include transition;
					
					&:hover {
						color: $color-orange;
					}
				}
			}
		}
	}
}

//RESPONSIVE
@media (max-width: 1400px) {
	.footer {
		&-top {
			background: #373737;
			padding: 20px 0;
			
			&-inner {
				gap: 30px;
				
				.logo {
					img {
						height: 40px;
					}
				}
			}
			
			&-contacts {
				
				column-gap: 30px;
				
				.email {
					a {
						font-size: 20px;
					}
				}
				
				.phone-top a,
				.phone-top-all a {
					font-size: 20px;
				}
				
				.all-open {
					font-size: 20px;
					
					&:before {
						top: 8px;
					}
				}
			}
		}
		
		&-center {
			
			&-catalog {

				&-list {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}
		
		&-bottom {
			
			&-info {
				@include flex(flex-end, space-between, nowrap);
				column-gap: 50px;
				
				.law {
					@include font(14px, 400, 1.6, #9F9F9F, "MyriadProRegular");
				}
				
				.payment {
					.list {
						@include flex(center, space-between, nowrap);
						gap: 10px;
						
						img {
							@include size(auto, 30px);
							display: block;
							object-fit: cover;
						}
					}
				}
			}
			
			&-inner	{
				margin-top: 60px;
				padding: 30px 0;
				color: $color-white;
				background: #373737;
				@include font(20px, 400, 1, $color-white, "MyriadProRegular");
				
				.container {
					@include flex(center, space-between);
					column-gap: 30px;
				}
				
				.list {
					@include flex(center, flex-end);
					column-gap: 50px;
					a {
						text-decoration: none;
						color: $color-white;
						@include transition;
						
						&:hover {
							color: $color-orange;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	.footer {
		&-top {
			padding: 15px 0;
			&-contacts {
				
				.email {
					a {
						font-size: 18px;
					}
				}
				
				.phone-top a,
				.phone-top-all a {
					font-size: 18px;
				}
				
				.all-open {
					font-size: 18px;
					
					&:before {
						top: 8px;
					}
					
					
				}
				
				.callback {
					width: 200px;
					.btn-gradient {
						height: 45px;
						font-size: 16px;
					}
				}
			}
		}
		
		&-center {
			padding: 40px 0;
			&-inner {
				flex-wrap: wrap;
				column-gap: 20px;
			}
			&-schedule {
				.schedule {
					margin-bottom:0;
					
					.title {
						font-size: 20px;
						margin-bottom: 10px;
					}
					
				}
			}
			
			&-schedule {
				order: -2;
				flex-basis: 60%;
				@include flex(flex-start, flex-start);
				gap: 30px;
				
				.schedule {
					flex-basis: 40%;
					margin-bottom: 0;
				}
				
				.socials-bottom {
					flex-basis: 100%;
				}
			}
			
			&-nav {
				order: -1;
				flex-basis: 35%;
				
				.schedule {
					margin-bottom: 0;
					
					.title {
						margin-bottom: 10px;
					}
					
					.nav {
						flex-direction: row;
						flex-wrap: wrap;
						.link {
							flex-basis: 50%;
						}
					}
				}
			}
			
			&-catalog {
				width: 100%;
				
				.title {
					margin-bottom: 0;
				}
				
				&-list {
					grid-template-columns: repeat(3, 1fr);
				}
			}
		}
		
		&-bottom {
			&-info {
				align-items: flex-start;
				flex-direction: column;
				row-gap: 30px;
			}
			
			&-inner {
				margin-top: 40px;
				padding: 20px 0;
				font-size: 14px;
				
				.list {
					column-gap: 30px;
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.footer {
		&-top {
			padding: 15px 0;
			&-contacts {
				
				.email {
					display: none;
				}
				
				.phone-top a,
				.phone-top-all a {
					font-size: 18px;
				}
				
				.all-open {
					font-size: 18px;
					
					&:before {
						top: 8px;
					}
					
					
				}
				
				.callback {
					width: 200px;
					.btn-gradient {
						height: 45px;
						font-size: 16px;
					}
				}
			}
		}
		
		&-center {
			padding: 40px 0;
			&-inner {
				flex-wrap: wrap;
				column-gap: 20px;
				row-gap: 30px;
			}
			&-info {
				.schedule {
					margin-bottom:0;
					
					.title {
						font-size: 20px;
						margin-bottom: 10px;
					}
					
				}
			}
			
			&-schedule {
				flex-basis: 65%;
				gap: 20px;
				
				.schedule {
					flex-basis: 45%;
					.title {
						font-size: 18px;
					}
					.text {
						font-size: 14px;
					}
				}
			}
			
			&-nav {
				order: -1;
				flex-basis: 30%;
				
				.schedule {
					margin-bottom: 0;
					
					.title {
						margin-bottom: 10px;
					}
					
					.nav {
						flex-direction: column;
						row-gap: 5px;
						.link {
							flex-basis: 50%;
							font-size: 14px;
						}
					}
				}
			}
			
			&-catalog {
				width: 100%;
				
				.title {
					margin-bottom: 0;
				}
				
				&-list {
					grid-template-columns: repeat(3, 1fr);
					
					.link {
						font-size: 14px;
					}
				}
			}
		}
		
		&-bottom {
			&-info {
				align-items: flex-start;
				flex-direction: column;
				row-gap: 30px;
			}
			
			&-inner {
				margin-top: 40px;
				padding: 20px 0;
				font-size: 14px;
				
				.list {
					column-gap: 30px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.footer {
		
		&-top {
			padding: 20px 0;
			&-inner {
				flex-direction: column;
				row-gap: 15px;
				
				.logo {
					width: 100%;
					display: block;
					text-align: center;
					img {
						height: 50px;
					}
				}
			}
			
			&-contacts {
				flex-direction: column;
				row-gap: 15px;
			}
		}
		
		&-center {
			
			&-schedule {
				order: 0;
				flex-basis: 100%;
				
				.socials-bottom {
					margin-bottom: 0;
				}
			}
			
			&-nav {
				flex-basis: 100%;
				
				.schedule {
					.nav {
						flex-direction: row;
						row-gap: 2px;
					}
				}
			}
			
			&-catalog {
				display: none;
			}
		}
		
		&-bottom {
			&-inner {
				.container {
					flex-direction: column;
					row-gap: 20px;
				}
				
				.list {
					justify-content: center;
					row-gap: 20px;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.footer {
		
		&-center {
			
			&-schedule {
				order: 0;
				flex-direction: column;
				align-items: center;
				text-align: center;
			}
			
			&-nav {
				order: 0;
				.schedule {
					text-align: center;
					
					.nav {
						flex-direction: column;
						align-items: center;
					}
				}
			}
			
			&-catalog {
				display: none;
			}
		}
	}
}