.header-bottom {
	
	.container {
		@include flex(center, flex-start, nowrap);
		max-width: $cont-width;
		margin: 0 auto;
		gap: 24px;
		padding: 20px;
	}
	
	.logo {
		width: 220px;
		margin-right: 60px;
		img {
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}
	
	.phones {
		margin-right: auto;
		display: flex;
		align-items: center;
		column-gap: 20px;

		.email {
			a {
				@include font(18px, 400, 1, $color-black, "MyriadProRegular");
				@include transition;

				&:hover {
					color: $color-orange;
				}
			}

		}
	}
	
	.phone-top {
		position: relative;
		display: flex;
		align-items: center;
		gap: 10px;
		
		img {
			display: block;
			width: 26px;
			height: 26px;
			border-radius: 50%;
		}
	}
	.phone-top-all {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		margin-bottom: 10px;
		white-space: nowrap;
		
		&:last-child {
			margin-bottom: 0;
		}
		
		img {
			display: block;
			min-width: 26px;
			width: 26px;
			height: 26px;
		}
	}
	.phone-top a:first-child,
	.phone-top-all a:last-child {
		font-family: "MyriadProSemibold", Arial, sans-serif;
		font-size: 17px;
		color: var(--text-dark);
	}
	.all-open,
	.open-item h3 {
		display: flex;
		align-items: center;
	}
	.all-open {
		position: relative;
		padding-right: 20px;
		
		&:before {
			content: '';
			@include position(absolute, null, 9px, 5px, null);
			@include size(8px, 6px);
			background: url('../img/icons/arrow-down-dark.svg') no-repeat 50% 50% /contain;
		}
	}
	.all-open p {
		font-family: "MyriadProRegular", Arial, sans-serif;
		color: var(--text-dark);
		font-size: 14px;
	}
	.all-contacts {
		display: none;
		@include position(absolute, 0, calc(100% + 10px), 0);
		z-index: 1000;
		background: $color-white;
		box-shadow: 0 0 10px rgba(192, 192, 192, .5);
		padding: 15px;
		border-radius: 10px;
	}
	
	.delivery {
		padding: 20px 0 20px 45px;
		font-family: "MyriadProSemibold", Arial, sans-serif;
		font-size: 16px;
		color: $color-orange;
		text-decoration: none;
		@include transition();
		background: url('../img/icons/delivery.svg') no-repeat 0 50% / 34px 34px;
		
		&:hover {
			color: $color-orange-hover;
			text-decoration: underline;
		}
	}
	
	.enter {
		position: relative;
	}
	.enter-button {
		background: $color-orange url('../img/icons/enter-btn.svg') no-repeat 24px 50% / 24px 24px;
		font-family: "MyriadProSemibold", Arial, sans-serif;
		color: $color-white;
		font-size: 16px;
		padding: 15px 35px 12px 60px;
		border-radius: 30px;
		@include transition();
		cursor: pointer;
		max-width: 200px;
		box-sizing: border-box;
		@include ellipsis();
		
		&:hover {
			background-color: $color-orange-hover;
		}
		
		&:before {
			content: '';
			@include position(absolute, null, 50%, 20px, null);
			@include size(12px, 8px);
			background: url('../img/icons/arrow-down-light.svg') no-repeat 50% 50% /contain;
			transform: translateY(-50%);
		}
	}
	.enter-open {
		text-align: center;
		display: none;
		@include position(absolute, 0, null, 0);
		z-index: 1000;
		box-shadow: 0 0 10px rgba(192, 192, 192, .5);
		padding: 55px 10px 10px;
		border-radius: 10px;
		background: $color-white url('../img/icons/open-img.svg') no-repeat 50% 10px /35px 35px;
	}
	.open-enter,
	.open-reg {
		font-size: 15px;
		display: block;
		border-radius: 10px;
		padding: 5px;
		background: $color-black;
		color: $color-white;
		border: 1px solid $color-black;
		@include transition();
		&:hover {
			opacity: .7;
		}
	}
	
	.open-enter {
		margin-bottom: 10px;
	}
	
	.open-reg {
		color: $color-black;
		background: $color-white;
		border: 1px solid $color-black;
	}
	.cart {
		background: $color-light url('../img/icons/cart-btn.svg') no-repeat 24px 50% / 24px 24px;
		font-family: "MyriadProSemibold", Arial, sans-serif;
		color: $color-black;
		font-size: 16px;
		padding: 15px 24px 12px 60px;
		border-radius: 30px;
		@include transition();
		cursor: pointer;
		position: relative;
		
		& > span {
			@include position(absolute, null, -15px, -15px);
			background: $color-orange;
			color: $color-white;
			font-family: "Roboto-Medium", Arial, sans-serif;
			padding: 5px 10px;
			border-radius: 30px;
		}
		
		&:hover {
			background-color: $color-light-hover;
		}
	}
}

@media (max-width: 1200px) {
	.header-bottom {
		.logo {
			width: 180px;
			margin: 0;
		}
		
		.delivery {
			display: none;
		}
	}
}

@media (max-width: 992px) {
	.header-bottom {
		.logo {
			width: 150px;
		}
		
		.cart,
		.enter-button {
			width: 46px;
			height: 46px;
			padding: 0;
			font-size: 0;
			border-radius: 50%;
			background-position: 50% 50%;
			
			& > span {
				font-size: 14px;
			}
			
			&:before {
				display: none;
			}
		}
		
		.enter-open {
			width: 120px;
			right: auto;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}


@media (max-width: 768px) {
	.header-bottom {
		.container {
			flex-wrap: wrap;
			padding: 15px 20px;
			gap: 15px 10px;
		}
		
		.logo {
			margin-right: auto;
		}
		
		.phones {
			display: flex;
			justify-content: center;
			width: 100%;
			border-top: 1px solid #F2F5F8;
			padding-top: 15px;
			margin: 0 auto;
			order: 10;
			align-items: center;
			flex-wrap: wrap;
			row-gap: 20px;
		}
	}
}