/* DEFAULT
--------------------------------------------------------*/

.form-input {
	min-width: 360px;
	box-sizing: border-box;
	display: inline-block;
	height: 60px;
	line-height: 60px;
	width: 100%;
	background: $color-white;
	border-radius: 40px;
	@include font(16px, 400, 1, $color-black, "MyriadProRegular");
	padding: 0 25px;
	border: 1px solid transparent;
	transition: .3s ease border-color;
	
	&:focus {
		outline: none;
		border: 1px solid $color-orange;
	}
	
	&::placeholder {
		@include font(16px, 400, 1, #7A828C, "MyriadProRegular");
	}
}

.form-input-xs {
	padding: 0 3px;
	height: $form-height-xs;
}

textarea {
	&.form-input {
		height: auto;
		padding: 10px 15px;
		max-width: 100%;
		line-height: 1.5;
		resize: none;
	}
	&.resize {
		resize: vertical;
	}
}

input[readonly] {
	background: #f9f9f9;
	cursor: not-allowed;
}

/* BACKGROUND
--------------------------------------------------------*/
.form-input-gray {
	background: #F2F5F8;
}


/* INPUT-FILE
--------------------------------------------------------*/

.form-file {
	@include inline;
	position: relative;
	width: 100%;
	padding-right: 100px;
	
	.form-input {
		padding-right: 45px;
	}
	.btn {
		@include position(absolute, null, 0, 0);
		width: 100px;
		padding: 0 10px;
		background: $color-gray-lite;
		
		&:hover {
			background: $color-gray;
		}
		
		.fa5 {margin-right: 5px;}
	}
	
	&-clear {
		@include flex(center, center);
		@include position(absolute, null, 0, 100px);
		@include size(35px, 100%);
		@include font(16px, null, null, $color-gray-lite);
		text-decoration: none;
		@include transition;
		
		&:hover {
			color: #d11212;
		}
		
		&-hidden {
			display: none;
		}
	}
	
	input[type="file"] {display: none;}
}