.modal-new {
	position: relative;
	z-index: 5;
	max-width: 100%;
	width: 450px;
	padding: 35px 45px;
	background: #FFFFFF;
	margin: auto;
	display: none;
	opacity: 0;
	@include transition;
	
	&[id="modalPhone"],
	&[id="modalFilters"] {
		margin-top: 0;
		border-top: 1px solid #F4F4F4;
	}
	
	&.show {
		opacity: 1;
	}
	
	&-container {
		display: none;
		@include position(fixed, 0, 0, null, null, 1000);
		@include size(100%, 100%);
		padding: 30px 10px;
		background: rgba(#000, 0.7);
		overflow: auto;
		
		.modal-new {
			display: block;
		}
		
		&[data-modal-container='#modalPhone'] {
			top: 70px;
		}
		
		&[data-modal-container='#modalFilters'] {
			top: 0;
		}
	}
}

.modal-new-close {
	@include flex(center, center);
	@include position(absolute, null, 0, 0);
	@include size(40px, 40px);
	@include text(center, none);
	@include transition;
	
	&:before {
		content: "";
		background-image: url('../img/icons/close-light.svg');
		background-repeat: no-repeat;
		@include size(15px, 15px);
	}
	
	&:hover {color: $color;}
}

.modal-new-top {
	text-align: left;
	
	.title {
		@include font(24px, 600, 1.2, $color-black, "MyriadProSemibold");
		margin-bottom: 12px;
	}
	
}

.modal-feedback{
	padding: 70px;
}

.modal-product {
	width: 800px;
	
	&-block {
		@include flex(center, flex-start, nowrap);
		column-gap: 40px;
	}
	
	&-left {
		flex-grow: 1;
	}
	
	&-image {
		max-width: 300px;
		border: 1px solid $color-gray-lite;
		padding: 20px;
		
		img {
			display: block;
			@include size(100%, 100%);
			object-fit: cover;
		}
	}
	
	&-right {
		flex-shrink: 0;
		width: 400px;
		
		.title {
			@include font(34px, 600, 1.2, $color-black, "MyriadProSemibold");
		}
		
		.text {
			margin-top: 20px;
			@include font(20px, 600, 1.4, $color-black, "MyriadProSemibold");
		}
	}
}

.modal-feedback-close {
	@include flex(center, center);
	@include position(absolute, null, -25px, -20px);
	background: $color-orange;
	@include size(54px, 54px);
	border-radius: 50%;
	@include text(center, none);
	@include transition;
	
	&:before {
		content: "\f00d";
		display: block;
		@include font(28px, 300, 1, #fff, $font-awesome);
		font-style: normal;
	}
	
	&:hover {color: $color;}
}

.modal-feedback-top	{
	.title {
		@include font(34px, 600, 1.2, $color-black, "MyriadProSemibold");
		text-align: center;
	}
	
	.text {
		margin-top: 30px;
		@include font(18px, 400, 1.4, $color-black, "MyriadProRegular");
		text-align: center;
	}
	
	.action {
		margin-top: 30px;
		text-align: center;
	}
}

.modal-feedback-form {
	.inputs {
		width: 100%;
		margin-top: 30px;
		@include flex(flex-start, flex-start);
		flex-direction: column;
		row-gap: 15px;
		padding: 0;
		list-style-type: none;
		
		li {
			width: 100%;
		}
	}
	
	.checker-item {
		margin-top: 25px;
	}
	
	.action {
		margin-top: 25px;
		.btn-gradient {
			width: 100%;
		}
	}
}

.modal-product-form {
	.inputs {
		width: 100%;
		margin-top: 30px;
		@include flex(flex-start, flex-start);
		flex-direction: column;
		row-gap: 15px;
		padding: 0;
		list-style-type: none;
		
		li {
			width: 100%;
		}
	}
	
	.checker-item {
		margin-top: 2px;
	}
	
	.action {
		margin-top: 15px;
	}
}

.modal-new-contacts {
	
	@include flex(center, flex-start);

	.list {
		@include flex(center, flex-start);
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 20px;
		
		& > li + li {
			border-top: 1px solid #F4F4F4;
		}
		
		.link {
			padding: 10px 0;
			@include flex(center, flex-start, nowrap);
			@include font(18px, 600, 1, $color-black, "MyriadProRegular");
			gap: 10px;
			width: 250px;
			text-decoration: none;
			color: $color-black;
			
			img	{
				@include size(26px, 26px);
			}
		}
	}
	
	.action {
		@include flex(center, flex-start, nowrap);
		gap: 15px;
		width: 100%;
		
		.ft-btn {
			@include flex(center, center);
			order: 0;
			max-width: 180px;
			height: $form-height;
			@include font(16px, 600, 1, $color-white, "MyriadProSemibold");
			margin: 0;
		}
		
		.list-social {
			@include flex(center, flex-start);
			gap: 10px;
			
			.social-icon {
				@include size(46px, 46px);
			}
		}
	}
}

.modal-new-search {
	width: 100%;
	
	&-control {
		position: relative;
		@include flex(center, flex-start);
		height: $form-height;
		justify-content: space-between;
		padding: 0 0 0 20px;
		background: #F5F6F8;
		border-radius: 30px;
	}
	
	input::placeholder {
		@include font(14px, 300, 1.6, #9F9F9F, "MyriadProLight");
	}
	
	input[type="text"],
	span.twitter-typeahead .tt-input {
		flex: 1;
		background: transparent;
		border: none;
		outline: none;
	}
	
	&-bg {
		@include position(absolute, null, 6px, 6px, null, 100);
		display: block;
		background: $color-orange url('../img/icons/search.svg') no-repeat 50% 50% / 22px 22px;
		@include size(38px, 38px);
		border-radius: 50%;
		@include transition();
		cursor: pointer;
		
		&:hover {
			background-color: $color-orange-hover;
		}
	}
	
	span.twitter-typeahead {
		display: block !important;
		width: 90%;
	}
	
	span.twitter-typeahead .tt-input,
	span.twitter-typeahead .tt-hint {
		width: 90% !important;
	}
	
	span.twitter-typeahead .tt-input:focus,
	span.twitter-typeahead .tt-hint:focus {
		outline: none !important;
		box-shadow: none !important;
	}
	
	span.twitter-typeahead .tt-dropdown-menu, span.twitter-typeahead .tt-menu {
		top: 40px !important;
		right: auto;
	}
}


//RESPONSIVE

@media (max-width: 1400px) {
	
}

@media (max-width: 1200px) {
	.modal-new {
		width: 360px;
	}
	
	.modal-product {
		width: 750px;
	}
}

@media (max-width: 992px) {
	
	.modal-product {
		width: 600px;
		column-gap: 20px;
		
		&-right {
			width: 300px;
			
			.title {
				font-size: 30px;
			}
			
			.text {
				font-size: 18px;
			}
		}
		
		&-form {
			.inputs {
				.form-input {
					min-width: auto;
				}
			}
		}
	}

}

@media (max-width: 768px) {
	
	.modal-new {
		
		padding: 30px 15px;
		
		&-container {
			padding: 0;
		}
	}
	
	.modal-feedback {
		width: 300px;
		
		&-close {
			top: -10px;
			right: -10px;
			@include size(40px, 40px);
			
			&:before {
				font-size: 20px;
			}
		}
		
		&-top {
			.title {
				font-size: 24px;
			}
		}
		
		&-form {
			.form-input {
				height: $form-height;
				min-width: 100%;
			}
			
			.checker-item {
				.checker {
					@include size(18px, 18px);
				}
				.checker-label {
					font-size: 12px;
				}
			}
		}
	}
	
	.modal-product {
		width: 300px;
		column-gap: 20px;
		
		&-left {
			display: none;
		}
		
		&-right {
			width: 100%;
			
			.title {
				font-size: 30px;
			}
			
			.text {
				font-size: 18px;
			}
		}
		
		&-form {
			.form-input {
				height: $form-height;
				min-width: 100%;
			}
			
			.checker-item {
				.checker {
					@include size(18px, 18px);
				}
				.checker-label {
					font-size: 12px;
				}
			}
		}
	}
	

}