.contacts {
	&-title {
		@include font(34px, 600, 1, $color-black, "MyriadProSemibold");
	}
	
	&-text {
		margin-top: 20px;
		@include font(20px, 300, 1, $color-black, "MyriadProLight");
		
		span {
			@include font(20px, 300, 1, $color-black, "MyriadProSemibold");
		}
	}
	
	&-list {
		margin-top: 30px;
		background: $color-gray;
		padding: 80px 40px;
		@include flex(stretch, space-between);
	}
	
	&-item {
		padding: 0 40px;
		@include flex(flex-start, center);
		flex: 1 1 0;
		
		.list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;
			
			.item {
				.label {
					@include font(16px, 300, 1, #636363, "MyriadProLight");
				}
			}
		}
		
		.label {
			@include font(20px, 300, 1, #636363, "MyriadProLight");
			margin-bottom: 10px;
		}
		
		.text {
			@include font(24px, 400, 1.6, $color-orange, "MyriadProSemibold");
		}
		
		a {
			@include font(24px, 400, 1.6, transporent, "MyriadProSemibold");
		}
		
		&-phones {
			flex: 2 1 0;
		}
		
		&:not(:first-child) {
			border-left: 1px solid #BDBDBD;
		}
	}
}

//RESPONSIVE

@media (max-width: 1400px) {
	
	.contacts {
		
		&-list {
			padding: 50px 30px;
			justify-content: flex-start;
			row-gap: 40px;
		}
		
		&-item {
			padding: 0;
			justify-content: flex-start;
			
			.list {
				grid-template-columns: repeat(4, 1fr);
				gap: 20px 15px;
			}
			
			&-phones {
				flex-basis: 100%;
			}
			
			&:not(:first-child) {
				border-left: none;
				max-width: 300px;
			}
		}
		
	}
}

@media (max-width: 1200px) {
	.contacts {
		
		&-list {
			padding: 40px 30px;
			row-gap: 30px;
		}
		
		&-item {
			
			.list {
				grid-template-columns: repeat(3, 1fr);
				gap: 20px;
			}
		}
		
	}
}

@media (max-width: 992px) {
	.contacts {
		
		&-list {
			padding: 30px;
		}
		
		&-item {
			
			.list {
				grid-template-columns: repeat(2, 1fr);
				gap: 20px 30px;
			}
		}
		
	}
}

@media (max-width: 768px) {
	.contacts {
		
		&-list {
			padding:30px 10px;
			flex-direction: column;
		}
		
		&-item {
			
			.list {
				grid-template-columns: repeat(1, 1fr);
				gap: 20px 30px;
			}
			
			.label {
				font-size: 16px;
			}
			
			a,
			.text {
				font-size: 20px;
			}
		}
		
	}
}