.cookie {
	@include position(fixed, 0, null, 0, 0, 700);
	padding: 20px 0;
	background: rgba($color, 0.9);
	color: #fff;
	
	&-container {
		@include flex(center, flex-start, nowrap);
		column-gap: 50px;
		
		.text {
			flex-grow: 1;
			@include font(13px, null, 1.7);
			
			a {
				color: inherit;
				font-weight: 700;
			}
		}
		.action {
			width: 250px;
			max-width: 100%;
			flex-shrink: 0;
			
			.btn {
				width: 100%;
			}
		}
	}
}